# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/jdk*/
bootstrap.ps1
.vscode
target
.metals
.bloop
sdb*
